@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color_white: #ffffff;
  --color_white_tinted: #dfdfdf;

  --color_red: #FF4E3E;
  --color_red_tinted: #c43022;
  --color_purple: #B656DD;
  --color_purple_tinted: #8E42AD;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}